.container{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
}
.red{
    background-color: red;
    height: 166px;
    width: 166px;
    text-align: center;
    line-height: 166px;
    position: relative;
    top: 166px;
}
.blue{
    background-color: blue;
    height: 166px;
    width: 166px;
    text-align: center;
    line-height: 166px;
    position: relative;
    top: 166px;
}
.green{
    background-color: green;
    height: 166px;
    width: 166px;
    text-align: center;
    line-height: 166px;
    position: relative;
    top: 166px;
}